<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/img/icon.png" alt="..." width="28" height="28" class="d-inline-block align-text-top">
      OSIS MTS FATHUSSA'ADAH
    </a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/acara">Acara</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/anggota">Anggota</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>