<div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://avatars.githubusercontent.com/u/71895143?s=64&v=4">
        <h2>Fauzaro01</h2>
        <p>Owner of synthesis team and edit this web backend and frontend.</p>
        <p><a class="btn btn-secondary" href="https://github.com/fauzaro01">View details »</a></p>
      </div>
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://avatars.githubusercontent.com/u/105553082?s=64&v=4">
        <h2>Revy</h2>
        <p>Admin of the synthesis team and designed this web</p>
        <p><a class="btn btn-secondary" href="https://github.com/revydekkter01">View details »</a></p>
      </div>
    </div>
</div>