<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/images/contoh.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Membantu Samenan OSIS</h5>
        <p class="card-text small">Tanggal: 24-25 Juni 2022</p>
        <p class="card-text">Info Lebih Lanjut Hubungi KETUA OSIS ( Syabila K.N )</p>
        <p class="card-text"><small class="text-muted">Terakhir diedit 2 juni</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/images/contoh.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Acara Pertama</h5>
          <p class="card-text">Info Lebih lanjut Hubungi KETUA OSIS ( Syabila K.N )</p>
          <p class="card-text"><small class="text-muted">Terakhir diedit 2 juni</small></p>
        </div>
      </div>
    </div>
</div>