<div class="card mb-3">
    <img src="/img/album/album_01.jpg" class="card-img-top" alt="..." style="width: 550px; height: auto;">
    <div class="card-body">
      <h5 class="card-title">judul</h5>
      <p class="card-text">Deskripsi blablabla</p>
      <p class="card-text"><small class="text-muted">1/1/2022</small></p>
    </div>
  </div>
