<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Selamat Datang!</h1>
    <p class="col-md-8 fs-4">kedisplinan dan belajar dengan tekun adalah proritas kami.</p>
  </div>
<div class="card border-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">VISI MISI</div>
  <div class="card-body text-danger">
    <h5 class="card-title">VISI MISI KETUA OSIS DAN WAKIL OSIS</h5>
    <p class="card-text">visi misi kami adalah 
visi kami untuk menjadi ketua dan wakil OSIS adalah untuk menjadikan OSIS sebagai wadah pembinaan yang menjunjung tinggi harkat dan martabat, serta lebih berprestasi lagi daripada tahun sebelumnya...</p>
  <div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header">DAFTAR</div>
  <div class="card-body text-success">
    <h5 class="card-title">Daftar orang yang ikut serta membantu samenan OSIS</h5>
    <p class="card-text">1.Slvyy
2. Revy 
3. Syabila
4.berlinnn
5. hilya
6.laura ( 8 ) 
7.Adit
8.nafhan
9.basit
10.faiqa
11.salwa
12.fatimah</p>
  </div>
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-header">INFO</div>
  <div class="card-body">
    <h5 class="card-title">Silahkan Di Baca</h5>
    <p class="card-text">Maaf Kawan kawan jika merasa terganggu, saya ingin menyampaikan hal
Yaitu tentang Kerapihan dan sikap OSIS terhadap guru atau pun ke orang lain. Gunanya untuk penilaian orang terhadap osis MAFATH tidak buruk. Sekian dari saya Terima kasih</p>
  </div>
<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Info Web</div>
  <div class="card-body">
    <h5 class="card-title">Contact Person</h5>
    <p class="card-text">Email : synthesis.xyz
WhatsApp 1 : Wa.me/+18154490293. [ REVYZ03 ]
WhatsApp 2 : Wa.me/+6281316961559

Email atau nomor di atas adalah Contact Pembuat Website ini, Silahkan Lapor jika ada bug atau kesalahan di website OSIS Terima Kasih.</p>
  </div>



