<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Selamat Datang!</h1>
    <p class="col-md-8 fs-4">kedisplinan dan belajar dengan tekun adalah proritas kami.</p>
  </div>
</div>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">QUOTE OSIS:)</div>
  <div class="card-body">
    <h5 class="card-title">BACA WOI!!!</h5>
    <p class="card-text">Jangan Takut jadi osis:), kita itu lebih berkuasa dari pada mereka murid murid biasa yang gak tau apa apa tentang sistem osis di sekolah...</p>
  </div>
</div>
  <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Pembuat Website Ini</div>
  <div class="card-body">
    <h5 class="card-title">Kepo kan? Makanya baca!</h5>
    <p class="card-text">Lah emangnya penting, siapa yg buat web ini walau lu tau juga emang mau apa?...</p>
  </div>
</div>
  <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Contact admin</div>
  <div class="card-body">
    <h5 class="card-title">Woi Baca sini!!!</h5>
    <p class="card-text">Gmail : synthesis.xyz@gmail.com@gmail.com.                                          Nomor.telp : wa.me/+18154490293 [ REVz03 ]                                                Nomor.telp 2 : wa.me/+6281316961559  [ FAUZARO01 ]</p>
  </div>
