<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Selamat Datang!</h1>
    <p class="col-md-8 fs-4">kedisplinan dan belajar dengan tekun adalah proritas kami.                       Scroll kebawah masih ada hal menarik lainnya:v</p>
  </div>
</div>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">QUOTE OSIS:)</div>
  <div class="card-body">
    <h5 class="card-title">BACA WOI!!!</h5>
    <p class="card-text">Jangan Takut jadi osis bang, kita itu lebih berkuasa dari pada mereka murid murid biasa yang gak tau apa apa tentang sistem osis di sekolah...</p>
  </div>
</div>
  <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Pembuat Website Ini</div>
  <div class="card-body">
    <h5 class="card-title">Kepo kan? Makanya baca!</h5>
    <p class="card-text">Lah emangnya penting, siapa yg buat web ini walau lu tau juga emang mau apa?...</p>
  </div>
