<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Selamat Datang!</h1>
    <p class="col-md-8 fs-4">kedisplinan dan belajar dengan tekun adalah proritas kami.</p>
  </div>
<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header">DAFTAR</div>
  <div class="card-body text-success">
    <h5 class="card-title">Daftar orang yang ikut serta membantu samenan OSIS</h5>
    <p class="card-text">1.Slvyy
2. Revy 
3. Syabila
4.berlinnn
5. hilya
6.laura ( 8 ) 
7.Adit
8.nafhan
9.basit
10.faiqa
11.salwa
12.fatimah</p>
  </div>
