<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/icon.png" type="image/icon type">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
<nav class="navbar navbar-dark bg-light">
  <!-- Navbar content -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/images/icon.png" alt="..." width="28" height="28" class="d-inline-block align-text-top">
      OSIS MTS FATHUSSA'ADAH
</nav>
    </a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/acara">Acara</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/anggota">Anggota</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h3>Selamat Datang Di Website OSIS Mts FATHUSSA'ADAH</h3>
    <p>HALLO PARA OSIS MTS FATHUSSA'ADAH!</p>
    <p>Sedang sibuk Dengan dunia internet</p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
